{% extends 'backblo/base.html' %}

{% load static %}
{% block commjs %} 

<script src="{% static 'backblog/js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'backblog/js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'backblog/js/html5shiv.min.js' %}" type="text/javascript"></script>
<script src="{% static 'backblog/js/respond.min.js' %}" type="text/javascript"></script>
<script src="{% static 'backblog/js/selectivizr-min.js' %}" type="text/javascript"></script>

{% endblock %}
{% block commcss %} {% endblock %}


{% block js %} {% endblock %}
{% block js %} {% endblock %}