<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="个人博客,txf个人博客,个人博客模板,杨青" />
    <meta name="description" content="txf个人博客，是一个站在web前端设计之路的男程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block commjs %} {% endblock %}
    {% block commcss %} {% endblock %}
    {% block js %}  {% endblock %}
    {% block css %} {% endblock %}
</head>
<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="{% url 'blog:index'%}">txf个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="{% url 'blog:index'%}">网站首页</a></li>
      <li><a href="{% url 'blog:share'%}">我的相册</a></li>
      <li><a href="{% url 'blog:list'%}">我的日记</a></li>
      <li><a href="{% url 'blog:about'%}">关于我</a></li>
      <li><a href="{% url 'blog:gbook'%}">留言</a></li>
      <li><a href="{% url 'blog:info'%}">内容页</a></li>
      <li><a href="{% url 'blog:infopic'%}">内容页</a></li>
    </ul>
</nav>
</header>
    {% block content %} {% endblock %}


<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">txf个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>